.main-nav {

    li {
        a {
            cursor: pointer;
        }

        .glyphicon {
            margin-right: 10px;
        }

        &.link-active a,
        &.link-active a:hover,
        &.link-active a:focus {
            background-color: #4189C7;
            color: #FFFFFF!important;
        }
    }
}
